<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="AutoTeam E2E Test Suite" verbose="1" parallel="false">

    <!-- Define parameters at suite level -->
    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="false"/>

    <!-- Single test section to avoid conflicts -->
    <test name="AutoTeam Tests">
        <classes>
            <class name="com.carservice.automation.tests.enduser.BookAppointmentTest"/>
            <class name="com.carservice.automation.tests.backoffice.InterventionSchedulingTest"/>
        </classes>
    </test>

</suite>